apiVersion: batch/v1
kind: Job
metadata:
  name: hello-job
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: hello
          image: busybox
#          command: ["sh", "-c", "exit 1"]
          command: ["sh", "-c", "exit 1"]
          
